/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;  /* Dark background color */
    color: #e0e0e0;  /* Light text color */
    line-height: 1.8;
    letter-spacing: 0.5px;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #1a202c;  /* Dark header background */
    padding: 20px 0;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 1.1em;
    padding-bottom: 5px;
    margin: 0 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
}

section {
    padding: 50px 0;
    text-align: center;
}

h2, h3 {
    color: #fff;
    margin-bottom: 20px;
}

p, ul, ol {
    margin-bottom: 30px;
}

ul, ol {
    margin-left: 20px;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.feature-item {
    text-align: center;
    max-width: 250px;
}

.feature-item img {
    max-width: 50px;
    margin-bottom: 10px;
}

a.cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

a.cta-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #1a202c;  /* Dark footer background */
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: #4CAF50;
}

footer a:hover {
    color: #3e8e41;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
    }

    .feature-grid {
        flex-direction: column;
    }
}
